body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}

.card {
  background-color: whitesmoke;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  border-color: aqua;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-color: green;
}

.title {
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  background-color: darkgreen;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}
